NODE_ENV=development
PORT=3000
APP_NAME=nestjs-enterprise-starter
API_PREFIX=api/v1

DATABASE_URL="YOUR_NEON_POSTGRESQL_URL"

CORS_ORIGIN="http://localhost:5173,http://localhost:3001"

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

BETTER_AUTH_SECRET="YOUR_GENERATED_SECRET"
BETTER_AUTH_URL="http://localhost:3000"
AUTH_BASE_PATH="/api/auth"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:5173,http://localhost:3001"

# Google / Gmail OAuth
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Payment Gateways (Aamarpay & PipraPay)
AAMARPAY_STORE_ID="aamarpaytest"
AAMARPAY_SIGNATURE_KEY="dbb74894e82415a2f7ff0ec3a97e4183"
AAMARPAY_IS_SANDBOX=true

PIPRAPAY_API_KEY="demo_piprapay_key"
PIPRAPAY_MERCHANT_ID="demo_piprapay_merchant"
PIPRAPAY_IS_SANDBOX=true

PAYMENT_RETURN_URL="http://localhost:3001/orders"
PAYMENT_CANCEL_URL="http://localhost:3001/orders"